ul li i {
    cursor: pointer;
    margin-left: 10px;

  }

.movie-list {
    margin-bottom: 10px;
}

.movie-input {
    margin-bottom:20px;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 85%;
}

.close-button-update{
    position: absolute;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    margin-left: 5px;
}